# macos
.DS_Store

# temp data file
*.db
*.h5
*.csv

# Python cache files
__pycache__/

# vscode
.vscode/

# notebook checkpoints
.ipynb_checkpoints/

# model pt
*.pt
checkpoints/
checkpoints_attention/
checkpoints_*
pretrained_models/